{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form method="post" action=".">{% csrf_token %}
                <div class="row form_row">
                    <div class="col-md-6">CURRENT PW: &nbsp;<span class="glyphicon glyphicon-lock"></span></div>
                    <div class="col-md-6">{{ form.old_password }}</div>
                </div>
                <div class="row form_row">
                    <div class="col-md-6">NEW PASSWORD1 &nbsp;<span class="glyphicon glyphicon-lock"></span></div>
                    <div class="col-md-6">{{ form.new_password1 }}</div>
                </div>
                <div class="row form_row">
                    <div class="col-md-6">NEW PASSWORD2 &nbsp;<span class="glyphicon glyphicon-lock"></span></div>
                    <div class="col-md-6">{{ form.new_password2 }}</div>
                </div>
                <div>
                    <button type="submit" class="btn btn-warning form_btn">PASSWORD CHANGE</button>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{% endblock content %}